@import url("https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

:root {
  --inter: "Inter", serif;
  --delicious-handrawn: "Delicious Handrawn", serif;
}

@theme {
  --font-delicious-handrawn: "Delicious Handrawn", serif;
}

html {
  overscroll-behavior: smooth;
}

body {
  font-family: "Inter", serif;
  background-color: hwb(0 96% 4%);
}

/* Hide scrollbar for all browsers */
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

*::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.nav-items {
  @apply transition-all duration-150 hover:bg-zinc-300;
}

.heart-icon {
  height: 50px;
  width: 50px;
  background: url("images/heart.png");
  background-position: left;
  cursor: pointer;
}

.heart-bg {
  background: rgba(255, 192, 200, 0);
  border-radius: 50%;
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 100ms ease;
}

.heart-bg:hover {
  background: rgba(255, 192, 200, 0.7);
}

.heart-icon.liked {
  animation: like-anim 0.7s steps(28) forwards;
}

@keyframes like-anim {
  to {
    background-position: right;
  }
}

.likes-amount.liked {
  color: red;
}
